*{
  padding: 0%;
  margin: 0%;
}
.the_whole_container_of_the_project{
  justify-self: start;
  animation-fill-mode: backwards;
}
@keyframes (changecolor) {
  1%{

  }
  2%{
    
  }
  3%{
    
  }
  4%{
    
  }
  5%{
    
  }
  6%{
    
  }
  7%{
    
  }
  8%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  } 0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }

  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
   0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
  0%{
    
  }
}